@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch";


header{
  height: 100%;
}

html, body{
  height: 100%;
}

body { padding-top: 70px; }

footer{
  bottom: 0px;
  background-color: #000066;
  margin-top: 175px;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
  width: 100%;
  color: white;
}

.grid-container{
  margin-top: 100px;
}

.userlogged{
  color: white;
}
